// Fuentes
$main_font: "Roboto", sans-serif;

// Tamaño de Media Queries
$telphone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$first: #fff;
$background-body: #e1ebeb;
$border-container: rgba(126, 119, 119, 0.474);
$border-drop: #777;

$space: 5rem;
